
/* Formatação Geral */
body{
	font-family: "Roboto+Slab", "Dancing+Script", cursive;

}

h1, h2, h3{

	margin: 0;
	font-family: Cookie, Handlee, cursive;
	font-weight: 700;
}

p{
	font-family: "Dancing+Script", "Roboto+Slab",  cursive;
}
/* cabeçalho */
.logo img{
	border-radius: 50%;

}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #DAA520;
	padding: 32px; 

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%
}
nav ul li a{

	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff;
}


@media screen and (min-width: 768px){

/* Cabeçalho */
nav{

	flex-direction: row;
	justify-content: space-around;
}


nav ul{

	flex-direction: row;
	width: 70%;
}