 
/* Formatação Geral */
body{
	font-family: "Roboto+Slab", "Dancing+Script", cursive;

}

h1, h2, h3{

	margin: 0;
	font-family: Cookie, Handlee, cursive;
	font-weight: 700;
}

p{
	font-family: "Dancing+Script", "Roboto+Slab",  cursive;
}


.container{
width: 100%

}
/* cabeçalho */
.logo img{
	border-radius: 50%;

}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #DAA520;
	padding: 32px; 

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%
}
nav ul li a{

	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff;
}
/* Header */
header{
	background-image: url(../img/Background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-align: center;
	padding: 0px;
}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}

.botao{
	color: #fff;
	text-decoration: none; 
	padding: 10px 30px;
	background-color: #FFA500;
	font-size: .8em;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* Sobre */

#sobre{

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #ADFF2F;
	color: #000;
}
#sobre h2{
	margin-top: 20px;
	font-size:  2em;
}
.foto img{
	width: 60%;
}

.foto{
	float: left;
	width: 50%;
}

.texto{
	float: right;
	width: 50%;
}
@media screen and (min-width: 768px){}

/* Especialidade */

#especialidades {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0   auto;
}

#especialidades div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}
 
#especialidades p {
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}

#especialidades img {
	margin: 10px 0;
}

#especialidades h2 {
	font-size: 2em;
}


/* Cabeçalho */
nav{
	flex-direction: row;
	justify-content: space-around;
}

nav ul{
	flex-direction: row;
	width: 70%;
}

header{
	height: 50vh;
	justify-content: center;
}


/* sobre */


#sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;
}
#sobre h2{
	text-align: center;
	width: 100%;
}
#sobre div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 10px;
}

/* Especialidades */
#especialidades {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}

#especialidades h2 {
	text-align: center;
	width: 100%;
}

#especialidades div{
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}

