
/* Formatação Geral */
body{
	font-family: "Roboto+Slab", "Dancing+Script", cursive;

}

h1, h2, h3{

	margin: 0;
	font-family: Cookie, Handlee, cursive;
	font-weight: 700;
}

p{
	font-family: "Dancing+Script", "Roboto+Slab",  cursive;
}
/* cabeçalho */
.logo img{
	border-radius: 50%;

}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #DAA520;
	padding: 32px; 

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%
}
nav ul li a{

	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff;
}
/* Header */
header{
	background-image: url(../img/Background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-align: center;
	padding: 30px;
}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}

.botao{
	color: #fff;
	text-decoration: none; 
	padding: 10px 30px;
	background-color: #FFA500;
	font-size: .8em;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;


}



@media screen and (min-width: 768px){

/* Cabeçalho */
nav{

	flex-direction: row;
	justify-content: space-around;
}

nav ul{

	flex-direction: row;
	width: 70%;
}

header{
	height: 500px;
	height: 50vh;
	justify-content: center;


}